.clothes{
    padding-bottom: 100px;
    &__body{
        display: flex;
        align-items: center;
        column-gap: 100px;
        justify-content: space-between;
    }
    &__right{
        max-width: 580px;
        width: 100%;
    }
}