.customer{
    padding-top: 30px;
    padding-bottom: 55px;
    &__title{
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: #000000;
    }
    .messages__row{
        margin-bottom: 33px;
    }
    .orders__row{
        @include media(992){
            min-width: 370px!important;
            width: 370px!important;
        }
    }
    .orders__p{
        width: max-content;
        min-width: max-content;
    }
    .orders__content{
        flex-direction: column !important;
        align-items: flex-start;
        row-gap: 33px;
        &-row{
            display: flex;
            align-items: center;
        }
    }
    .order{
        &_1{
            min-width: 557px;
            width: 557px;
            @include media(1200){
                min-width: 500px;
                width: 500px;
            }
            @include media(992){
                min-width: 360px;
                width: 360px;
            }
        }
        &_2{
            min-width: 330px;
            width: 330px;
            @include media(1200){
                min-width: 170px;
                width: 170px;
            }
            @include media(992){
                min-width: 180px;
                width: 180px;
            }
        }
        &_4{
            @include media(992){
                min-width: 110px;
                width: 110px;
            }
        }
    }
    &__buttons{
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        column-gap: 12px;
        flex: 1 1 auto;
        width: 100%;
    }
    &__status{
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        background: #7AAA67;
        border-radius: 4px;
        width: 118px;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__desc{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        @include media(992){
            max-width: 700px;
            width: 100%;
        }
        span{
            font-weight: 500;
        }
        a{
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
        }
    }
    &__subtitle{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: 30px;
        margin-bottom: 22px;
        @include media(992){
            font-size: 19px;
            line-height: 23px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &__item{
        width: 100%;
        &:not(:last-of-type){
            margin-bottom: 30px;
        }
    }
    &__top{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 24px;
        background: #D3E4F5;
        border-radius: 8px 8px 0px 0px;
        padding: 8px 40px;
        @include media(575){
            padding: 8px 11px;
            column-gap: 12px;
        }
    }
    &__txt{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;  
        @include media(575){
            font-size: 12px;
            font-weight: 400;
        }
        span{
            font-weight: 500;
        }      
    }
    &__content{
        padding: 16px 20px 25px;
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        column-gap: 15px;
        @include media(768){
            flex-direction: column;
            align-items: flex-start;
            row-gap: 20px;
        }
        @include media(575){
            padding: 15px 11px;
            row-gap: 11px;
        }
    }
    &__left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include media(768){
            flex-direction: row;
            align-items: flex-start;
            column-gap: 20px;
        }
    }
    &__img{
        margin-bottom: 13px;
        @include media(768){
            margin-bottom: 0;
            width: 70px;
        }
        img{
            @include media(768){
                width: 100%;
            }
        }
    }
    &__name{
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }
    &__p{
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    &__right{
        flex: 1 1 auto;
        background: rgba(217, 217, 217, 0.15);
        border-radius: 4px;
        padding: 18px 20px 0 25px;
        @include media(1400){
            padding-bottom: 15px;
        }
        @include media(768){
            padding: 15px;
        }
    }
    &__text{
        max-width: 530px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    &__btns{
        transform: translateY(-10px);
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        column-gap: 25px;
        width: 100%;
        @include media(1400){
            transform: translateY(0);
            margin-top: 15px;
        }
        @include media(992){
            justify-content: flex-start;
        }
        @include media(768){
            column-gap: 11px;
        }
        @include media(575){
            flex-direction: column;
            row-gap: 12px;
        }
    }
    &__button{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #535353;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 14px;
        background: #D9D9D9;
        border-radius: 4px;
        transition: 300ms ease;
        @include media(575){
            padding: 10px;
        }
        &:hover{
            color: #FFFFFF;
            background: #7AAA67;
        }
        &.first{
            color: #FFFFFF;
            background: #7AAA67;
            &:hover{
                color: #535353;
                background: #D9D9D9;
            }
        }
    }
}