.orders{
    padding-bottom: 30px;
    &__title{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 23px;
        @include media(992){
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 15px;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 39px;
        @include media(992){
            margin-bottom: 25px;
        }
    }
    &__items{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        row-gap: 23px;
    }
    &__item{
        width: 100%;
    }
    &__top{
        background: #D3E4F5;
        border-radius: 8px 8px 0px 0px;
        display: flex;
        align-items: center;
        padding: 8px 30px 8px 30px;
        @include media(575){
            justify-content: space-between;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    &__content{
        background: #FFFFFF;
        border-radius: 8px;
        padding: 16px 20px 20px;
        display: flex;
        align-items: center;
        @include media(575){
            justify-content: space-between;
        }
    }
    &__row{
        display: flex;
        align-items: center;
        column-gap: 22px;
        min-width: 570px !important;
        width: 570px !important;
        @include media(1200){
            min-width: 510px!important;
            width: 510px!important;
        }
        @include media(992){
            column-gap: 12px;
            min-width: 310px !important;
            width: 310px !important;
        }
        @include media(768){
            min-width: 200px!important;
            width: 200px!important;
        }
        @include media(575){
            min-width: 150px!important;
            width: 150px!important;
        }
        @include media(450){
            min-width: 110px!important;
            width: 110px!important;
        }
    }
    &__letter{
        min-width: 78px;
        width: 78px;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #D9D9D9;
        border-radius: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #84888C;
        @include media(992){
            width: 60px;
            height: 60px;
            min-width: 60px;
            font-size: 24px;
            font-weight: 600;
        }
    }
    &__texts{
        @include media(992){
            display: none;
        }
    }
    &__subtitle{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 10px;
        @include media(992){
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 7px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
        max-width: 370px;
        width: 100%;
        @include media(992){
            font-size: 12px;
            max-width: 350px;
        }
    }
    .order{
        &_1{
            min-width: 557px;
            width: 557px;
            @include media(1200){
                min-width: 500px;
                width: 500px;
            }
            @include media(992){
                min-width: 300px;
                width: 300px;
            }
            @include media(768){
                min-width: 190px;
                width: 190px;
            }
            @include media(575){
                min-width: 140px;
                width: 140px;
            }
            @include media(450){
                min-width: 100px;
                width: 100px;
            }
        }
        &_2{
            min-width: 330px;
            width: 330px;
            @include media(1200){
                min-width: 250px;
                width: 250px;
            }
            @include media(992){
                min-width: 180px;
                width: 180px;
            }
            @include media(768){
                min-width: 150px;
                width: 150px;
            }
            @include media(575){
                min-width: 110px;
                width: 110px;
            }
            @include media(450){
                min-width: 65px;
                width: 65px;
            }
        }
    }
    &__txt{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }
}