.products{
  padding-bottom: 118px;
  &__slider{
    width: 100%;
    position: relative;
  }
  .swiper{
    width: 100%;
    overflow: hidden;
    &-wrapper{
      display: flex;
      width: max-content;
    }
  }
}