.tasks{
    padding-bottom: 70px;
    @include media(768){
        padding-bottom: 40px;
    }
    &__title{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;     
        margin-bottom: 22px;
        @include media(768){
            font-size: 19px;
            line-height: 25px;
            margin-bottom: 12px;
        }
        a{
            color: #000000;     
            text-decoration: underline;
        }   
    }
    &__desc{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 22px;
    }
    &__rows{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        column-gap: 20px;
        padding: 10px 30px 10px 20px;
        background: #FFFFFF;
        border-radius: 8px;
        width: max-content;
        margin-bottom: 30px;
        @include media(768){
            flex-direction: column;
            gap: 15px;
            width: 100%;
            padding: 10px;
        }
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 15px;
        padding: 12px 80px 12px 12px;
        background: #F8F8F8;
        border-radius: 8px;
        @include media(768){
            width: 100%;
            padding: 12px 20px 12px 12px;
        }
        &-img{
            @include media(768){
                width: 48px;
            }
            img{
                width: 100%;
            }
        }
        &-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.5px;
            color: #2D2D2D;
            margin-bottom: 6px;
        }
        &-a{
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.5px;
            color: #72777B;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 16px;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 20px 40px 30px 17px;
        margin-bottom: 40px;
        z-index: 3;
        @include media(1400){
            flex-wrap: wrap;
        }
        @include media(768){
            flex-direction: column;
            padding: 10px;
        }
    }
    &__item{
        background: #F8F8F8;
        border-radius: 8px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 75px;
        position: relative;
        @include media(1400){
            width: calc(50% - 8px);
        }
        @include media(768){
            width: 100%;    
            column-gap: 50px;
        }
        &.active{
            .tasks__item-content{
                opacity: 1;
                visibility: visible;
            }
        }
        &-wrapper{
            position: relative;
            z-index: 99999999 !important;
        }
        &-left{
            display: flex;
            align-items: center;
            column-gap: 16px;
        }
        &-button{
            z-index: 3;
            &:hover, &.active{
                svg{
                    path{
                        opacity: 0.7;
                    }
                }
            }
            svg{
                path{
                    fill: #2E363E;
                    transition: 300ms ease;
                }
            }
        }
        &-content{
            position: absolute;
            top: 98%;
            right: 0;
            left: 0;
            width: 100%;
            background: #E7E7E7;
            border-radius: 0px 0px 8px 8px;
            padding: 10px 30px 45px 20px;
            opacity: 0;
            visibility: hidden;
            transition: 300ms ease;
            z-index: 999;
            &.active{
                opacity: 1;
                visibility: visible;
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                background: #C8C8C8;
                border-radius: 0px 0px 8px 8px;
                min-height: 34px;
                height: 34px;
                bottom: 0;
                right: 0;
            }
        }
        .filter__checkboxes{
            &.active{
                & ~ .tasks__item-price{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:not(:last-of-type){
                margin-bottom: 7px;
            }
            .filter__checkboxes{
                margin-bottom: 0;
            }
        }
        &-price{
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.5px;
            color: #000000;
            opacity: 0;
            visibility: hidden;
            transition: 300ms ease;
        }
        .filter__checkboxes{
            &-label{
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                color: #000000;
            }
        }
    }
    &__form{
        background: #FFFFFF;
        border-radius: 8px;
        padding: 55px 33px 28px 20px;
        margin-bottom: 42px;
        @include media(768){
            padding: 20px;
        }
        &-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include media(768){
                flex-direction: column;
                align-items: flex-start;
                row-gap: 12px;
            }
        }
        &-right{
            max-width: 270px;
            width: 100%;
            @include media(768){
                max-width: 100%;
            }
        }
    }
    &__subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-bottom: 5px;
        &.mb{
            margin-bottom: 14px;
        }
    }
    .filter__textarea{
        margin-bottom: 30px;
    }
    &__price{
        font-weight: 600;
        font-size: 36px;
        line-height: 59px;
        color: #000000;
        @include media(768){
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 6px;
        }
    }
    &__link{
        font-weight: 400;
        font-size: 14px;
        line-height: 164.4%;
        text-decoration-line: underline;
        color: #000000;
    }
    .close-bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }
}