mixin clothes()
    .clothes 
        .clothes__body.container 
            .clothes__img   
                img(src="@img/clothes-img.png", alt="")
            .clothes__right     
                span.intro__subtitle Надзаголовок
                h2.intro__title Привлечение потока лидов для оптового  бизнеса одежды
                p.intro__desc Создавайте прототипы и дизайн лендинг пейдж просто копируя типовые блоки к себе в проект и доработайте изображения 
                .clothes__content 
                    .clothes__item 
                        p.clothes__num 01
                        p.clothes__p Раскритие тезиса болееподробно, для ясности
                    .clothes__item 
                        p.clothes__num 02
                        p.clothes__p Раскритие тезиса болееподробно, для ясности
                    .clothes__item 
                        p.clothes__num 03
                        p.clothes__p Раскритие тезиса болееподробно, для ясности
                    .clothes__item 
                        p.clothes__num 04
                        p.clothes__p Раскритие тезиса болееподробно, для ясности