mixin footer2()
    footer2.footer2 
        .footer2__body.container 
            .footer2__left
                a(href="index.html").footer2__logo #[img(src="@img/logo-light.png", alt="" draggable="false" loading="lazy")] Имяпроекта.ру
                p.footer2__desc Сайт может содержать материалы для лиц старше 18 лет. Используя сайт вы полностью и безоговорочно принимаете оферту и политику обработки персональных данных.
            .footer2__row 
                ul.footer2__list 
                    li.footer2__li 
                        a(href="cabinet.html").footer2__link Мой кабинет
                    li.footer2__li 
                        a(href="support.html").footer2__link Служба поддержки
                    li.footer2__li 
                        a(href="faq.html").footer2__link FAQ
                ul.footer2__list 
                    li.footer2__li 
                        a(href="partners.html").footer2__link Партнёрская программа
                    li.footer2__li 
                        a(href="#!").footer2__link Инфо
                    li.footer2__li 
                        a(href="#!").footer2__link API
            .footer2__icons 
                a(href="https://telegram.com").footer2__icon 
                    img(src="@img/telegram.svg", alt="") 
                a(href="https://vk.com").footer2__icon 
                    img(src="@img/vk.svg", alt="") 
                a(href="https://twitter.com").footer2__icon 
                    img(src="@img/twitter.svg", alt="") 
                a(href="https://instagram.com").footer2__icon 
                    img(src="@img/instagram.svg", alt="") 