mixin info()
    .info 
        .info__body.container 
            .info__row  
                .info__item 
                    .info__img  
                        img(src="@img/messages-img.png", alt="")
                    .info__infos 
                        p.info__name Иванов Иван
                        p.info__id id:0003658
                .info__item 
                    .info__img  
                        img(src="@img/info-img-1.png", alt="")
                    .info__infos 
                        p.info__name Баланс 
                        p.info__id 386 рублей
                .info__item 
                    .info__img  
                        img(src="@img/info-img-2.png", alt="")
                    .info__infos    
                        p.info__id 15 выполненных 
                .info__item 
                    .info__img  
                        img(src="@img/info-img-3.png", alt="")
                    .info__infos 
                        p.info__name Активность на сайте
                        p.info__id 125 дней