mixin messages()
    .messages 
        .messages__body.container 
            h2.messages__title Личные сообщения
            p.messages__desc Краткое описание страницы на ресурсе - В своём стремлении повысить качество жизни, они забывают, что современная методология разработки предоставляет широкие возможности для поставленных обществом задач! 
            .messages__item 
                p.messages__p Заказчик:
                .messages__row  
                    .messages__img 
                        img(src="@img/messages-img.png", alt="")
                    .messages__info         
                        p.messages__name Иванов Сергей
                        p.messages__id id:0003658
                .messages__content 
                    p.messages__text Разнообразный и богатый опыт говорит нам, что разбавленное изрядной долей эмпатии, рациональное мышление, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для вывода текущих активов. В частности, укрепление и развитие внутренней структуры однозначно фиксирует необходимость направлений прогрессивного развития.
            .messages__item.right 
                p.messages__p Исполнитель:
                .messages__row  
                    .messages__img 
                        img(src="@img/messages-img.png", alt="")
                    .messages__info         
                        p.messages__name Иванов Иван
                        p.messages__id id:0003658
                .messages__content
                    p.messages__text Безусловно, высокотехнологичная концепция общественного уклада говорит о возможностях как самодостаточных, так и внешне зависимых концептуальных решений. Но сплочённость команды профессионалов способствует подготовке и реализации стандартных подходов. Современные технологии достигли такого уровня, что социально-экономическое развитие способствует повышению качества переосмысления внешнеэкономических политик. 
