mixin orders()
    .orders 
        .orders__body.container 
            h2.orders__title Поиск задач
            p.orders__desc Краткое описание какие задачи на ресурсе - В своём стремлении повысить качество жизни, они забывают, что современная методология разработки предоставляет широкие возможности для поставленных обществом задач! 
            .orders__wrapper
                .orders__item   
                    .orders__top 
                        p.orders__p.order_1 Название:
                        p.orders__p.order_2 Цена:
                        p.orders__p.order_3 Дата сдачи:
                    .orders__content 
                        .orders__row.order_1 
                            p.orders__letter wb
                            .orders__texts 
                                p.orders__subtitle Название задачи
                                p.orders__text Краткое описание задачи - В своём стремлении повысить качество жизни, они забывают, 
                        p.orders__txt.order_2 50 р
                        p.orders__txt.order_3 20.07.2020
                .orders__item   
                    .orders__top 
                        p.orders__p.order_1 Название:
                        p.orders__p.order_2 Цена:
                        p.orders__p.order_3 Дата сдачи:
                    .orders__content 
                        .orders__row.order_1 
                            p.orders__letter О
                            .orders__texts 
                                p.orders__subtitle Название задачи
                                p.orders__text Краткое описание задачи - В своём стремлении повысить качество жизни, они забывают, 
                        p.orders__txt.order_2 50 р
                        p.orders__txt.order_3 20.07.2020
                .orders__item   
                    .orders__top 
                        p.orders__p.order_1 Название:
                        p.orders__p.order_2 Цена:
                        p.orders__p.order_3 Дата сдачи:
                    .orders__content 
                        .orders__row.order_1 
                            p.orders__letter wb
                            .orders__texts 
                                p.orders__subtitle Название задачи
                                p.orders__text Краткое описание задачи - В своём стремлении повысить качество жизни, они забывают, 
                        p.orders__txt.order_2 50 р
                        p.orders__txt.order_3 20.07.2020
                .orders__item   
                    .orders__top 
                        p.orders__p.order_1 Название:
                        p.orders__p.order_2 Цена:
                        p.orders__p.order_3 Дата сдачи:
                    .orders__content 
                        .orders__row.order_1 
                            p.orders__letter О
                            .orders__texts 
                                p.orders__subtitle Название задачи
                                p.orders__text Краткое описание задачи - В своём стремлении повысить качество жизни, они забывают, 
                        p.orders__txt.order_2 50 р
                        p.orders__txt.order_3 20.07.2020
                .orders__item   
                    .orders__top 
                        p.orders__p.order_1 Название:
                        p.orders__p.order_2 Цена:
                        p.orders__p.order_3 Дата сдачи:
                    .orders__content 
                        .orders__row.order_1 
                            p.orders__letter wb
                            .orders__texts 
                                p.orders__subtitle Название задачи
                                p.orders__text Краткое описание задачи - В своём стремлении повысить качество жизни, они забывают, 
                        p.orders__txt.order_2 50 р
                        p.orders__txt.order_3 20.07.2020
