mixin products()
    .products 
        .products__body 
            .products__slider
                .swiper.products__swiper
                    .swiper-wrapper.products__swiper-wrapper 
                        .swiper-slide
                            .products__item 
                                .products__left 
                                    span.products__span 
                                        <svg width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.27853 7.60218C10.9055 7.60218 13.8457 10.5425 13.8457 14.1694C13.8457 17.7963 10.9055 20.7366 7.27853 20.7366C3.65156 20.7366 0.711325 17.7963 0.711325 14.1694L0.682007 13.2312C0.682007 5.97726 6.56247 0.0968018 13.8164 0.0968018V3.84949C11.3105 3.84949 8.95452 4.82537 7.18254 6.59734C6.84146 6.93848 6.53016 7.30144 6.24935 7.68269C6.58469 7.62991 6.92836 7.60218 7.27853 7.60218ZM24.1656 7.60218C27.7925 7.60218 30.7328 10.5425 30.7328 14.1694C30.7328 17.7963 27.7925 20.7366 24.1656 20.7366C20.5387 20.7366 17.5984 17.7963 17.5984 14.1694L17.5691 13.2312C17.5691 5.97726 23.4495 0.0968018 30.7035 0.0968018V3.84949C28.1977 3.84949 25.8416 4.82537 24.0696 6.59734C23.7285 6.93848 23.4172 7.30144 23.1364 7.68269C23.4717 7.62991 23.8154 7.60218 24.1656 7.60218Z" fill="#102A43"/>
                                        </svg>
                                    h2.products__title «Лучшую фразу из отзыва напишите в заголовке»
                                    p.products__desc «Вставьте отзыв целиком или часть отзыва клиента. Никогда не выдумывайте отзывы самостоятельно. Фильшивые отзывы всегда видно. Будьте честны. #[br] #[br] Опишите конечный результат, который получил человек после работы с вами. Что конеретно ему это дало. Можно описывать результат в цифрах, чтобы была конкретика» 
                                    a(href="#!").products__link Читать отзыв полностью 
                                .products__right 
                                    .products__img 
                                        img(src="@img/profile-img.png", alt="")
                                    .products__texts
                                        p.products__name Иван Демидов
                                        p.products__p Краснодар
                        .swiper-slide
                            .products__item 
                                .products__left 
                                    span.products__span 
                                        <svg width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.27853 7.60218C10.9055 7.60218 13.8457 10.5425 13.8457 14.1694C13.8457 17.7963 10.9055 20.7366 7.27853 20.7366C3.65156 20.7366 0.711325 17.7963 0.711325 14.1694L0.682007 13.2312C0.682007 5.97726 6.56247 0.0968018 13.8164 0.0968018V3.84949C11.3105 3.84949 8.95452 4.82537 7.18254 6.59734C6.84146 6.93848 6.53016 7.30144 6.24935 7.68269C6.58469 7.62991 6.92836 7.60218 7.27853 7.60218ZM24.1656 7.60218C27.7925 7.60218 30.7328 10.5425 30.7328 14.1694C30.7328 17.7963 27.7925 20.7366 24.1656 20.7366C20.5387 20.7366 17.5984 17.7963 17.5984 14.1694L17.5691 13.2312C17.5691 5.97726 23.4495 0.0968018 30.7035 0.0968018V3.84949C28.1977 3.84949 25.8416 4.82537 24.0696 6.59734C23.7285 6.93848 23.4172 7.30144 23.1364 7.68269C23.4717 7.62991 23.8154 7.60218 24.1656 7.60218Z" fill="#102A43"/>
                                        </svg>
                                    h2.products__title «Лучшую фразу из отзыва напишите в заголовке»
                                    p.products__desc «Вставьте отзыв целиком или часть отзыва клиента. Никогда не выдумывайте отзывы самостоятельно. Фильшивые отзывы всегда видно. Будьте честны. #[br] #[br] Опишите конечный результат, который получил человек после работы с вами. Что конеретно ему это дало. Можно описывать результат в цифрах, чтобы была конкретика» 
                                    a(href="#!").products__link Читать отзыв полностью 
                                .products__right 
                                    .products__img 
                                        img(src="@img/profile-img.png", alt="")
                                    .products__texts
                                        p.products__name Иван Демидов
                                        p.products__p Краснодар
                        .swiper-slide
                            .products__item 
                                .products__left 
                                    span.products__span 
                                        <svg width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.27853 7.60218C10.9055 7.60218 13.8457 10.5425 13.8457 14.1694C13.8457 17.7963 10.9055 20.7366 7.27853 20.7366C3.65156 20.7366 0.711325 17.7963 0.711325 14.1694L0.682007 13.2312C0.682007 5.97726 6.56247 0.0968018 13.8164 0.0968018V3.84949C11.3105 3.84949 8.95452 4.82537 7.18254 6.59734C6.84146 6.93848 6.53016 7.30144 6.24935 7.68269C6.58469 7.62991 6.92836 7.60218 7.27853 7.60218ZM24.1656 7.60218C27.7925 7.60218 30.7328 10.5425 30.7328 14.1694C30.7328 17.7963 27.7925 20.7366 24.1656 20.7366C20.5387 20.7366 17.5984 17.7963 17.5984 14.1694L17.5691 13.2312C17.5691 5.97726 23.4495 0.0968018 30.7035 0.0968018V3.84949C28.1977 3.84949 25.8416 4.82537 24.0696 6.59734C23.7285 6.93848 23.4172 7.30144 23.1364 7.68269C23.4717 7.62991 23.8154 7.60218 24.1656 7.60218Z" fill="#102A43"/>
                                        </svg>
                                    h2.products__title «Лучшую фразу из отзыва напишите в заголовке»
                                    p.products__desc «Вставьте отзыв целиком или часть отзыва клиента. Никогда не выдумывайте отзывы самостоятельно. Фильшивые отзывы всегда видно. Будьте честны. #[br] #[br] Опишите конечный результат, который получил человек после работы с вами. Что конеретно ему это дало. Можно описывать результат в цифрах, чтобы была конкретика» 
                                    a(href="#!").products__link Читать отзыв полностью 
                                .products__right 
                                    .products__img 
                                        img(src="@img/profile-img.png", alt="")
                                    .products__texts
                                        p.products__name Иван Демидов
                                        p.products__p Краснодар
                        .swiper-slide
                            .products__item 
                                .products__left 
                                    span.products__span 
                                        <svg width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.27853 7.60218C10.9055 7.60218 13.8457 10.5425 13.8457 14.1694C13.8457 17.7963 10.9055 20.7366 7.27853 20.7366C3.65156 20.7366 0.711325 17.7963 0.711325 14.1694L0.682007 13.2312C0.682007 5.97726 6.56247 0.0968018 13.8164 0.0968018V3.84949C11.3105 3.84949 8.95452 4.82537 7.18254 6.59734C6.84146 6.93848 6.53016 7.30144 6.24935 7.68269C6.58469 7.62991 6.92836 7.60218 7.27853 7.60218ZM24.1656 7.60218C27.7925 7.60218 30.7328 10.5425 30.7328 14.1694C30.7328 17.7963 27.7925 20.7366 24.1656 20.7366C20.5387 20.7366 17.5984 17.7963 17.5984 14.1694L17.5691 13.2312C17.5691 5.97726 23.4495 0.0968018 30.7035 0.0968018V3.84949C28.1977 3.84949 25.8416 4.82537 24.0696 6.59734C23.7285 6.93848 23.4172 7.30144 23.1364 7.68269C23.4717 7.62991 23.8154 7.60218 24.1656 7.60218Z" fill="#102A43"/>
                                        </svg>
                                    h2.products__title «Лучшую фразу из отзыва напишите в заголовке»
                                    p.products__desc «Вставьте отзыв целиком или часть отзыва клиента. Никогда не выдумывайте отзывы самостоятельно. Фильшивые отзывы всегда видно. Будьте честны. #[br] #[br] Опишите конечный результат, который получил человек после работы с вами. Что конеретно ему это дало. Можно описывать результат в цифрах, чтобы была конкретика» 
                                    a(href="#!").products__link Читать отзыв полностью 
                                .products__right 
                                    .products__img 
                                        img(src="@img/profile-img.png", alt="")
                                    .products__texts
                                        p.products__name Иван Демидов
                                        p.products__p Краснодар
                        .swiper-slide
                            .products__item 
                                .products__left 
                                    span.products__span 
                                        <svg width="31" height="21" viewBox="0 0 31 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.27853 7.60218C10.9055 7.60218 13.8457 10.5425 13.8457 14.1694C13.8457 17.7963 10.9055 20.7366 7.27853 20.7366C3.65156 20.7366 0.711325 17.7963 0.711325 14.1694L0.682007 13.2312C0.682007 5.97726 6.56247 0.0968018 13.8164 0.0968018V3.84949C11.3105 3.84949 8.95452 4.82537 7.18254 6.59734C6.84146 6.93848 6.53016 7.30144 6.24935 7.68269C6.58469 7.62991 6.92836 7.60218 7.27853 7.60218ZM24.1656 7.60218C27.7925 7.60218 30.7328 10.5425 30.7328 14.1694C30.7328 17.7963 27.7925 20.7366 24.1656 20.7366C20.5387 20.7366 17.5984 17.7963 17.5984 14.1694L17.5691 13.2312C17.5691 5.97726 23.4495 0.0968018 30.7035 0.0968018V3.84949C28.1977 3.84949 25.8416 4.82537 24.0696 6.59734C23.7285 6.93848 23.4172 7.30144 23.1364 7.68269C23.4717 7.62991 23.8154 7.60218 24.1656 7.60218Z" fill="#102A43"/>
                                        </svg>
                                    h2.products__title «Лучшую фразу из отзыва напишите в заголовке»
                                    p.products__desc «Вставьте отзыв целиком или часть отзыва клиента. Никогда не выдумывайте отзывы самостоятельно. Фильшивые отзывы всегда видно. Будьте честны. #[br] #[br] Опишите конечный результат, который получил человек после работы с вами. Что конеретно ему это дало. Можно описывать результат в цифрах, чтобы была конкретика» 
                                    a(href="#!").products__link Читать отзыв полностью 
                                .products__right 
                                    .products__img 
                                        img(src="@img/profile-img.png", alt="")
                                    .products__texts
                                        p.products__name Иван Демидов
                                        p.products__p Краснодар