mixin video()
    .video 
        .video__body.container 
            h2.video__title Узнайте, как это работает за 2 минуты из видео ниже
            .video__video
                a(href="https://youtube.com").video__play 
                    img(src="@img/play-icon.svg", alt="") 